.card-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}

.card-container:hover {
    transform: scale(1.03);
    filter: brightness(120%);
}

img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

h2, p {
    margin: 10px 0 10px 0;
}